.shopPage {
  display: flex;
  flex-wrap: wrap;
  gap: var(--fs33);
}

.shopPage h2 {
  width: 100%;
}

.searchContainer {
  width: 150px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: var(--fs8);
}

.category button {
  width: 100%;
  transition: 0.3s;
  padding: var(--fs8) var(--fs16);
  border-radius: var(--fs8);
  text-align: left;
}

.category button:hover,
.category button:active,
.category .active {
  background-color: var(--light-colors-accent-light);
  color: var(--light-colors-white-light);
}

.sort {
  margin: var(--fs33) 0;
  font-size: var(--fs12);
  position: relative;
}

.sortHeader {
  background-color: var(--dark-colors-white-dark);
  padding: var(--fs8);
  border-radius: var(--fs8);
  position: relative;
}
.sortHeader p {
  position: relative;
  top: 10px;
}

.sortHeader i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--fs12);
  cursor: pointer;
}
.sort ul {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  background-color: var(--dark-colors-white-dark);
  margin-top: var(--fs8);
  padding-left: 0;
  position: absolute;
  z-index: 99;
}

.sort ul > li {
  border-bottom: 1px solid gray;
  cursor: pointer;
  padding: var(--fs8) 0;
}
.sort ul > li.active {
  background-color: var(--dark-colors-light-gray-dark);
}

.sort.active ul {
  max-height: 200px;
}
.productList {
  flex: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--fs26);
}

.list > li {
  border: 1px solid red;
  height: 300px;
}

@media (max-width: 1100px) {
  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .category {
    flex-direction: row;
  }
  .category > button {
    width: auto;
    padding: var(--fs16);
  }
  .sort {
    width: 120px;
    margin: var(--fs8) 0;
  }
}

@media (max-width: 600px) {
  .searchContainer {
    flex-direction: column;
    grid-area: var(--fs16);
  }

  .category {
    flex-direction: column;
    width: 100%;
  }

  .sort {
    width: 100%;
  }

  .list {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -15px;
  }
}
