.paginationArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--fs8);
  margin: var(--fs33) 0;
}
.paginationArea button {
  background-color: var(--light-colors-white-light);
  border-radius: var(--fs8);
  padding: var(--fs8) var(--fs12);
  transition: 0.3s;
  min-width: var(--fs33);
}

.paginationArea button:hover:not(:disabled),
.paginationArea button.active {
  background-color: var(--dark-colors-light-gray-dark);
  color: var(--light-colors-white-light);
}

.paginationArea > button:disabled {
  opacity: 0.5;
  background-color: gray;
}
